
.alerts {
  padding: 15px;
}

.alert-infoe {
  background-color: #EAEAEA;
  border-color: #EAEAEA;
  color: #31708f;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.pdf_generator {
margin-top: 2%;
margin-bottom: 25px;
}

.file-up {
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding: 40px;
  margin-top: 60px;
  margin-bottom: 2%;
  border-width: 1px;
  border-style: solid;
  border-color: #E20613;
}

.doormat__nav {
  font-size: 14px;
}

span {
  line-hight: 1.42857;
  margin-left: 10px;
}

.dragged {
  border-width: 2px;
  background-color: #E88F7A;
}

.loading-circle-1 {
  border: 10px solid #31708f;;
  border-radius: 50%;
  border-top: 10px solid #E20613;
  width: 180px;
  height: 180px;
  filter: blur(100%);
  -webkit-animation:  1s infinite spin;
  animation:  1s  infinite spin;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
