body {
  display: table;
  margin:0;
  padding:0;
  width: 100%;
  hight: 100%;
}

.alerts {
  padding: 15px;
}

.alert-infoe {
  background-color: #EAEAEA;
  border-color: #EAEAEA;
  color: #31708f;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.pdf_generator {
margin-top: 2%;
margin-bottom: 25px;
}

.file-up {
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 2%;
  border-width: 1px;
  border-style: solid;
  border-color: #E20613;
}

paltzhalter {
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: #1b6d85;
  height: 50px;

}

.doormat__nav {
  font-size: 14px;
}
